//COLORS
:root {
  --brown: #c69963;
  --brown-dark: #b28451;

  --black: rgb(15, 27, 42);

  --grey: #aaa;
  --grey-light: #f9f7f6;

  --brown-grey-dark: #54483a;
  --brown-grey: #6d5d4b;

  //FONT
  --font-main: "Nunito", sans-serif;
  --font-display: "Josefin Sans", sans-serif;

  // SHADOW
  --shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
//SCREEN SIZES

$table-land: 1300px;
$table-port: 900px;
$phone: 600px;
$small-phone: 500px;
